<!doctype html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {{ content_for_header }}
    {{ 'quiz-fotbal.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="quiz-fotbal template-{{ template.name | handle }}">
    {{ content_for_layout }}
    <script src="{{ 'quiz-fotbal.js' | asset_url }}" defer></script>
  </body>
</html>
